---
import type { string } from 'astro:schema'
import content from '../../../data/site-projects-content.json'
import type { Lang } from '../../../i18n/config.i18n'
import Button from '../../utils/Button.astro'
import Input from '../../utils/Input.astro'
import { Search  } from 'lucide-astro'

interface Props {
    lang: Lang
    categoryName: string
    searhName: string
}


const { lang, categoryName, searhName } = Astro.props

const data = content[lang].filters
---


<section id="filters"  class="bg-center w-full"> 

    <div class="flex flex-col p-10 justify-start h-full bg-blue-real">        
        <div class="w-full xl:w-2xl text-left relative">
            <h1 class="text-white-real font-bold text-4xl xl:text-7xl">
                {data.title}
            </h1>
            <h2 class="text-red-real font-bold text-4xl xl:text-7xl">
                {data.subtitle}
            </h2>
            <div class="mt-5">

                <form action="" class="w-full flex  gap-2.5 items-center">
                    <input type="hidden" name="category" value={categoryName} />
                    <Input icon={Search} placeholder={data.form.inputs.search.placeholder} ref='search' value={searhName} />
                    <Button color='red-real' label={data.form.inputs.buttonAccion.label} />
                </form>
            </div>
        </div>
    </div>

</section>