---
import type { Lang } from '../../i18n/config.i18n'
import { useTranslations } from '../../i18n/utils.i18n'
import Button from '../utils/Button.astro'
import Input from '../utils/Input.astro'
import Textarea from '../utils/Textarea.astro'

interface Props {
    lang: Lang
}

const { lang } = Astro.props

const data = useTranslations(lang).contact
---


<section id="contact" class="relative w-full h-auto bg-gray-real overflow-hidden">

    <div class="flex flex-col p-10 mt-20 mb-20 gap-5 justify-center items-center">
        <h2 class="relative text-blue-real text-4xl font-alexandria text-center">
            {data.title}
        </h2>
        <h3 class="relative text-black-real text-1xl font-alexandria text-center">
            {data.subtitle}
        </h3>
        <div class="w-full xl:w-2xl justify-center">
            <form action="" class="relative bg-white-real border-l-3 border-l-blue-real flex flex-col gap-3 p-10 shadow-2xl">
                <div class="absolute right-0 top-0  w-15 h-15 bg-red-real opacity-10"></div>  
                <Input label={data.form.inputs.name} ref='name' type={'text'}  />
                <Input label={data.form.inputs.email} ref='email' type={'text'}  />
                <Textarea label={data.form.inputs.description} ref='email' rows={4} />
                <div class="flex flex-col">
                    <Button color='red-real' labelColor='white-real' label={data.form.buttonAccion} />
                </div>
            </form>
        </div>
    </div>

</section>