---
import type { Lang } from '../i18n/config.i18n';
import Navbar from '../components/common/Navbar.astro';
import Footer from '../components/common/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Contact from '../components/common/Contact.astro';

interface Props {
	title: string;
	lang: Lang;
	description?: string;
	image?: string;
	canonicalURL?: string;
	schema?: object
}

const { title, lang, description = "Web informativa coorporativa", image = "/logo_real.png",schema,canonicalURL } = Astro.props;

const alternateLang = lang === 'es' ? 'en' : 'es';
const alternatePath = Astro.url.pathname.replace(`/${lang}`, `/${alternateLang}`);
const alternateURL = new URL(alternatePath, Astro.url.origin);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/icono_real.png" />
        <meta name="generator" content={Astro.generator} />
        <ClientRouter />

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="robots" content="index, follow" />
        <link rel="canonical" href={canonicalURL} />

        <link rel="alternate" hreflang={lang} href={canonicalURL} />
        <link rel="alternate" hreflang={alternateLang} href={alternateURL} />
        <link rel="alternate" hreflang="x-default" href={new URL('/es', Astro.url.origin)} />

        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url.origin)} />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url.origin)} />

        {schema && <script type="application/ld+json" set:html={JSON.stringify(schema)} />}
	</head>
	<body class="bg-white text-gray-900 antialiased">
		<Navbar lang={lang} />
		<main>
			
			<slot /> 
		</main>
		<Contact lang={lang} />
		<Footer lang={lang} />
	</body>
</html>


<style is:global>
	html {
		scroll-behavior: smooth;
	}
</style>